/* src/components/Footer/styles.css */
.footer {
  background: #E65100;
  color: #eee;
  padding: 1.5rem;
  text-align: center;
  margin-top: 2rem;
}

.footer p {
  margin: 0.25rem 0;
  padding: 0;
}